<div class="all-services-container mt-3">
        <div class="container">
            <h2>Services</h2>
            <table class="table mt-3">
                <thead>
                    <tr>
                        <th>Image</th>
                        <th>Name</th>                                                
                        <th>price</th>
                        <th>Description</th>                        
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>image</td>
                        <td>Service Name</td>
                        <td>2400</td>                        
                        <td>Service Description</td>
                        <td>edit/delete</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>