<div class="all-orders-container mt-3">
    <div class="container">
        <h2>Orders</h2>
        <table class="table mt-3">
            <thead>
                <tr>
                    <th>Image</th>
                    <th>Name</th>
                    <th>Phone</th>
                    <th>Date</th>
                    <th>Time</th>
                    <th>Address</th>
                    <th>Price</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>image</td>
                    <td>Mukesh Rana</td>
                    <td>8591282373</td>
                    <td>5 Sept. 2019</td>
                    <td>10:30am</td>
                    <td>R-92, sector 74, Mohali</td>
                    <td>2400</td>
                    <td>edit/delete/mark as complete</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>