<div class="all-users-container mt-3">
    <div class="container">
        <h2>Users</h2>
        <table class="table mt-3">
            <thead>
                <tr>
                    <th>Image</th>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Email</th>
                    <th>Phone</th>
                    <th>Address</th>
                    <th>Status</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>image</td>
                    <td>Mukesh</td>
                    <td>Rana</td>
                    <td>mukeshrana90@gmail.com</td>
                    <td>8591282373</td>
                    <td>R-92, sector 74, Mohali</td>
                    <td>Active</td>
                    <td>Actions</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>