<nav class="navbar navbar-expand navbar-light bg-light justify-conten-between">
    <a class="navbar-brand" href="#"><img src="https://getbootstrap.com/docs/4.3/assets/brand/bootstrap-solid.svg"
            width="30" height="30" alt=""></a>
    <ul class="navbar-nav flex-row ml-md-auto d-none d-md-flex">
        <li class="nav-item">
            <a class="nav-link" routerLinkActive="active" routerLink="/">Dasboard</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLinkActive="active" routerLink="/all-users">Users</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLinkActive="active" routerLink="/all-orders">Orders</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLinkActive="active" routerLink="/all-services">Services</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLinkActive="active" routerLink="/login">Login</a>
        </li>
    </ul>
</nav>